* {
  max-width: 1440px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.logo {
  order: 1;
  /* font-size: 2rem; 
   font-weight: 800; */
  color: var(--Black, #010101);
  font-family: 'Open Sans', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: bold;
/* line-height: 26px; 118.182% */
padding: 20px;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  margin-left: 50px;
  margin-right: 230px;
  /* background-color:#C4C4C4; */
}

nav ul {
  display: flex;
  order: 2;
}

nav ul a {
  color: #000000;
  font-size: 1.6rem;
  margin-left: 2rem;
  text-align: center;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/heroImage.png");

  height: 600px;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

} */

.container img {
  width: 100%;
  height: 750px;
}

.hero-text {
  width: 80%;
}

.hero-text h1 {
  font-size: 3.3rem;
  margin-bottom: 12px;
  color: black;
}

.hero-text p {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

button {
  padding: 1em 2.1em 1.1em;
  border-radius: 194px;
  margin: 8px;
  border: none;
  background-color: #1A5F58;
  color: white;
  font-family: Roboto;
  font-weight: 800;
  font-size: 0.85em;
  text-transform: uppercase;
  text-align: center;
  /* box-shadow: 0em -0.2rem 0em #e2e273 inset; */
  transition: color 3s ease-in-out;
}

button:hover {
  background-color: #1A5F58;

  color: white;
  border: 3px solid white;
  cursor: pointer;
  box-shadow: 0em -0.2rem 0em #e2e273 inset; 
}

nav,button {
 order: 3; 
}

body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/heroImage.png");

/* Set a specific height */
height: 100%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: absolute;
}

/* Place text in the middle of the image */
.hero-text {
text-align: left;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: black;
}

/* Cards for Why Choose US START */
/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


.whyChooseUs{
  max-width: 1440px;
  margin: 0;
  padding-top: 2%;
}

.whyChooseUs h2 {
  font-family: Playfair ;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.whyChooseUs img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 35px;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  /* box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;

  /* background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%); */
}

.card_title {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

/* End for Why Choose US Cards */
/* Our Services Start*/

.box {
  /* width: 1440px;
  height: 858px; */
  max-width: 1440px;
  margin: 35px ;
  padding-top: 2%;
}

.box .group {
  position: relative;
  width: 1442px;
  height: 858px;
  top: 0;
  left: 0;
}

.box .overlap-group {
  position: relative;
  width: 1440px;
  height: 858px;
  background-color: var(--variable-collection-green-25);
}

.box .pill-button {
  display: flex;
  width: 490px;
  height: 56px;
  align-items: center;
  justify-content: center;
  gap: 19.4px;
  padding: 19.4px 38.8px;
  position: absolute;
  top: 107px;
  left: 806px;
  background-color: var(--variable-collection-dark-green);
  border-radius: 194px;
}

.box .text-wrapper {
  position: relative;
  width: 368px;
  margin-top: -6.32px;
  margin-bottom: -1.47px;
  font-family: var(--h6-18px-roboto-font-family);
  font-weight: var(--h6-18px-roboto-font-weight);
  color: var(--variable-collection-white);
  font-size: var(--h6-18px-roboto-font-size);
  text-align: center;
  letter-spacing: var(--h6-18px-roboto-letter-spacing);
  line-height: var(--h6-18px-roboto-line-height);
  font-style: var(--h6-18px-roboto-font-style);
}

.box .div {
  position: absolute;
  width: 360px;
  top: 105px;
  left: 144px;
  font-family: var(--h2-42px-playfair-font-family);
  font-weight: var(--h2-42px-playfair-font-weight);
  color: var(--variable-collection-dark-green);
  font-size: var(--h2-42px-playfair-font-size);
  letter-spacing: var(--h2-42px-playfair-letter-spacing);
  line-height: var(--h2-42px-playfair-line-height);
  font-style: var(--h2-42px-playfair-font-style);
}

.box .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  top: 240px;
  left: 146px;
}

.box .frame-2 {
  display: flex;
  width: 586px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.box .text-wrapper-2 {
  position: relative;
  width: 268px;
  height: 66px;
  margin-top: -1px;
  font-family: var(--h4-28px-roboto-font-family);
  font-weight: var(--h4-28px-roboto-font-weight);
  color: var(--variable-collection-dark-green);
  font-size: var(--h4-28px-roboto-font-size);
  letter-spacing: var(--h4-28px-roboto-letter-spacing);
  line-height: var(--h4-28px-roboto-line-height);
  font-style: var(--h4-28px-roboto-font-style);
}

.box .p {
  position: relative;
  width: 296px;
  margin-top: -1px;
  margin-right: -2px;
  font-family: var(--h6-18px-roboto-font-family);
  font-weight: var(--h6-18px-roboto-font-weight);
  color: var(--variable-collection-dark-green);
  font-size: var(--h6-18px-roboto-font-size);
  letter-spacing: var(--h6-18px-roboto-letter-spacing);
  line-height: var(--h6-18px-roboto-line-height);
  font-style: var(--h6-18px-roboto-font-style);
}
.box .pFineWork {
  position: relative;
  width: 420px;
  margin-top: -1px;
  margin-right: -2px;
  font-family: var(--h6-18px-roboto-font-family);
  font-weight: var(--h6-18px-roboto-font-weight);
  color: var(--variable-collection-dark-green);
  font-size: var(--h6-18px-roboto-font-size);
  letter-spacing: var(--h6-18px-roboto-letter-spacing);
  line-height: var(--h6-18px-roboto-line-height); 
  font-style: var(--h6-18px-roboto-font-style);
}

.box .line {
  position: relative;
  width: 620px;
  height: 1px;
}

.box .frame-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.box .text-wrapper-3 {
  position: relative;
  width: 268px;
  height: 37px;
  margin-top: -1px;
  font-family: var(--h4-28px-roboto-font-family);
  font-weight: var(--h4-28px-roboto-font-weight);
  color: var(--variable-collection-dark-green);
  font-size: var(--h4-28px-roboto-font-size);
  letter-spacing: var(--h4-28px-roboto-letter-spacing);
  line-height: var(--h4-28px-roboto-line-height);
  font-style: var(--h4-28px-roboto-font-style);
}

.box .text-wrapper-4 {
  position: relative;
  width: 294px;
  margin-top: -1px;
  font-family: var(--h6-18px-roboto-font-family);
  font-weight: var(--h6-18px-roboto-font-weight);
  color: var(--variable-collection-dark-green);
  font-size: var(--h6-18px-roboto-font-size);
  letter-spacing: var(--h6-18px-roboto-letter-spacing);
  line-height: var(--h6-18px-roboto-line-height);
  font-style: var(--h6-18px-roboto-font-style);
}

.box .img {
  margin-bottom: -1px;
  position: relative;
  width: 620px;
  height: 1px;
}

.box .rectangle {
  position: relative;
  width: 354px;
  height: 472px;
  top: 240px;
  left: 880px;
  background-color: var(--variable-collection-gray-for-disabled-buttons);
}

.box .rectangle .image {
  position: absolute;
  width: 455px;
  height: 472px;

}
/*Our Services End */
:root {
  --h1-48px-playfair-font-family: "PlayfairDisplay-Bold", Helvetica;
  --h1-48px-playfair-font-weight: 700;
  --h1-48px-playfair-font-size: 48px;
  --h1-48px-playfair-letter-spacing: 0px;
  --h1-48px-playfair-line-height: 60px;
  --h1-48px-playfair-font-style: normal;
  --h2-42px-playfair-font-family: "PlayfairDisplay-Bold", Helvetica;
  --h2-42px-playfair-font-weight: 700;
  --h2-42px-playfair-font-size: 42px;
  --h2-42px-playfair-letter-spacing: 0px;
  --h2-42px-playfair-line-height: normal;
  --h2-42px-playfair-font-style: normal;
  --h3-36px-playfair-font-family: "PlayfairDisplay-Medium", Helvetica;
  --h3-36px-playfair-font-weight: 500;
  --h3-36px-playfair-font-size: 36px;
  --h3-36px-playfair-letter-spacing: 0px;
  --h3-36px-playfair-line-height: normal;
  --h3-36px-playfair-font-style: normal;
  --h4-28px-roboto-font-family: "Roboto-Bold", Helvetica;
  --h4-28px-roboto-font-weight: 700;
  --h4-28px-roboto-font-size: 28px;
  --h4-28px-roboto-letter-spacing: 0px;
  --h4-28px-roboto-line-height: normal;
  --h4-28px-roboto-font-style: normal;
  --h5-24px-roboto-font-family: "Roboto-Regular", Helvetica;
  --h5-24px-roboto-font-weight: 400;
  --h5-24px-roboto-font-size: 24px;
  --h5-24px-roboto-letter-spacing: 0px;
  --h5-24px-roboto-line-height: 36px;
  --h5-24px-roboto-font-style: normal;
  --h6-18px-roboto-font-family: "Roboto-Regular", Helvetica;
  --h6-18px-roboto-font-weight: 400;
  --h6-18px-roboto-font-size: 18px;
  --h6-18px-roboto-letter-spacing: 0px;
  --h6-18px-roboto-line-height: 25px;
  --h6-18px-roboto-font-style: normal;
  --regular-16px-roboto-font-family: "Roboto-Regular", Helvetica;
  --regular-16px-roboto-font-weight: 400;
  --regular-16px-roboto-font-size: 16px;
  --regular-16px-roboto-letter-spacing: 0px;
  --regular-16px-roboto-line-height: 22px;
  --regular-16px-roboto-font-style: normal;
  --regular-14px-roboto-font-family: "Roboto-Regular", Helvetica;
  --regular-14px-roboto-font-weight: 400;
  --regular-14px-roboto-font-size: 14px;
  --regular-14px-roboto-letter-spacing: 0px;
  --regular-14px-roboto-line-height: normal;
  --regular-14px-roboto-font-style: normal;
  --variable-collection-green: rgba(26, 95, 88, 1);
  --variable-collection-light-green-10: rgba(235, 240, 239, 1);
  --variable-collection-black: rgba(1, 1, 1, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-beige: rgba(246, 240, 228, 1);
  --variable-collection-green-50: rgba(140, 175, 171, 1);
  --variable-collection-green-25: rgba(198, 215, 213, 1);
  --variable-collection-dark-green: rgba(29, 49, 47, 1);
  --variable-collection-gray-for-disabled-buttons: rgba(184, 184, 184, 1);
}

/* START TESTIMONIALS */

/* END TESTIMONIALS */




/* Media queries */

@media (max-width: 884px) {
  .container {
    margin-top: 10px;
    flex-direction: column;
  }
  .container img {
    width: 100%
  }
  .hero-text {
    width: 100%;
    text-align: center;
  }
  .hero-text h1 {
    font-size: 3rem;
  }
}

@media (max-width: 678px) {
  .hero-text h1 {
    font-size: 2rem;
  }
    .container img {
    width: 100%
  }
  nav ul {
    display: none;
  }
}
@media (max-width: 428px) {
  nav ul {
    display: none;
  }
}
